
 
    <style>
        /* Add custom styles if needed */
        body {
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: relative;
        }

/* Your existing styles */

body.home-page .profile-picture {
    background-image: url('Website Pic.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto 0;
    display: block;
}


        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline-block;
            margin-right: 10px;
        }

        nav a {
            text-decoration: none;
            color: white;
            padding: 10px;
            display: block;
            text-align: center;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #666;
        }

      .main-content {
    max-width: 800px;
    margin: 0px auto 60px; /* Adjust margin to leave space for the footer */
    padding: 10px;
}

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 0px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

/* Media Queries for Responsive Design */

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */

   body.home-page .profile-picture {
    background-image: url('Website Pic.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto 0;
    display: block;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}
    footer {
        position: static;
    }
}
