
 
    <style>
        /* Add custom styles if needed */
        body {
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: relative;
        }

/* Your existing styles */

body.home-page .profile-picture {
  background-image: url('Website Pic.png'); /* Replace with the path to your profile picture */
            background-size: cover;
            background-position: center;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    border-radius: 50%;
}


        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline-block;
            margin-right: 10px;
        }

        nav a {
            text-decoration: none;
            color: white;
            padding: 10px;
            display: block;
            text-align: center;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #666;
        }

        .main-content {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

/* Media Queries for Responsive Design */

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    .profile-picture {
        width: 100px;
        height: 80px;
        right: 10px;
    }
    
nav ul {
        display: none;
        position: absolute;
        top: 60px;
        background-color: #333;
        width: 100%;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
 nav a {
        color: white;
        padding: 10px;
        display: block;
        text-align: center;
    }

    nav.toggle ul {
        display: block;
    }

    .main-content {
        padding: 10px;
    }

    footer {
        position: static;
    }
}
